* {
    margin: 0px;
    padding: 0px;
    font-family: Roboto, sans-serif;
    line-height: 1.5
}
html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

h1 {
    margin-top: 0px;
}

.center {
    width: 35%;
}

#pie {
    margin: 10%;
}

table {
    width: 75% !important;
    color: black;
    text-size: 1.3em !important;
}

#r0 {
    background: #E25668;
}

#r1 {
    background: #E28956;
}

#r2 {
    background: #E2CF56;
}

#r3 {
    background: #AEE256;
}

#r4 {
    background: #68E256;
}

#r5 {
    background: #56E289;
}

#r6 {
    background: #56E2CF;
}

#r7 {
    background: #56AEE2;
}

#r8 {
    background: #5668E2;
}

#r9 {
    background: #8A56E2;
}

#r10 {
    background: #CF56E2;
}

#r11 {
    background: #E256AE;
}

html {
    position: relative;
    min-height: 100%;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}
